*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #353b48;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container{
    position: relative;
    /* overflow: hidden; */
    height: 400px;
    width: 300px;
    border-radius: 10px;
    background-color: #f8c291;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#container img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}
#container #love{
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all ease 0.6s;
}
#icons{
    height: 40px;
    border: 2px solid #718093;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icons i{
    font-size: 25px;
    color: aliceblue;
    margin: 0 20px;
}
